<div class="bd-lead bd-side" style="padding: 3rem;margin-left: -3rem;">
    <header class="bd-header">
      <div class="bd-header-titles">
        <h1 class="title">
          Create new dining coupons
        </h1>
        <p class="subtitle is-5" style="color: #7a7a7a;">Qpon - Redeem your coins for dining coupons</p>

      </div>

    </header>
  </div>


<form action="/qpon/create" method="post">

  <div class="columns">
    <div class="column">
      <div class="field">
        <label class="label">Title</label>
        <div class="control">
          <input class="input" type="text" name="Title" required value="25% Off on Whole Bill">
        </div>
      </div>
      <div class="field">
        <label class="label">Restaurant</label>
        <div class="control">
          <input class="input" type="text" name="Restaurant" required value="FAB Kitchen">
        </div>
      </div>

      <div class="columns" style="margin-bottom: 0;">
        <div class="column">

          <div class="field">
            <label class="label">Region</label>
            <div class="control">
              <div class="select" id="regionselect">
                <select name="Region">
                <option value="Kowloon">Kowloon</option>
                  <option value="HK Island">HK Island</option>
                  <option value="New Territorie">New Territories</option>
                </select>
              </div>
            </div>
          </div>

        </div>
        <div class="column">
          <div class="field">
            <label class="label">Mall</label>
            <div class="control">
              <div class="select" id="mallselect" >
                <select name="Mall">
                  <option value="Elements">Elements</option>
                  <option value="IFC Mall">IFC Mall</option>
                  <option value="Festival Walk">Festival Walk</option>
                  <option value="Tsuen Wan Plaza">Tsuen Wan Plaza</option>
                  <option value="Pacific Place">Pacific Place</option>
                  <option value="Times Square">Times Square</option>
                  <option value="Harbour City">Harbour City</option>
                  <option value="Megabox">Megabox</option>
                  <option value="APM">APM</option>
                  <option value="New Town Plaz">New Town Plaza</option>
                </select>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="field">
        <label class="label">Image</label>
        <div class="control">
          <input class="input" type="text" name="Image" required value="images/p5.jpg"> 
        </div>
      </div>
      
      
    </div>


    <div class="column">

      <div class="columns" style="margin-bottom: 0;">
        <div class="column">
          <!-- <div class="field"> -->
            <label class="label">Quota</label>
            <div class="control">
              <input class="input" type="number" name="Quota" required value="500">
            </div>
          <!-- </div> -->
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Coins</label>
            <div class="control">
              <input class="input" type="number" name="Coins" required value="500">
            </div>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Deal Valid Till</label>
        <div class="control">
          <input class="input" type="date" name="DealValidTill" required pattern="YYYY-MM-DD">
        </div>
      </div>

      <div class="field">
        <label class="label">Detail</label>
        <div class="control">
          <textarea class="textarea" placeholder="Put some details" name="Detail"  required></textarea>
        </div>
      </div>

      <div class="field">
        &nbsp;
      </div>
      <div class="field">
        <div class="control is-primary is-pulled-right">
            <button class=" is-link button" type="submit" >Submit</button>
          </div>
      </div>
    </div>
  </div>
  </div>




</form>
